

#infCol{
    background-color: #f3f3f3;
    /*position: absolute;*/
    overflow-y: scroll;
}
#mapCol{
    padding-left: 0;
    padding-right: 0;
}

#map{
    background-color: beige;
    cursor: pointer;
}


#snoAlertBox{
    position:absolute;
    z-index:1400;
    top:2%;
    right:4%;
    margin:0px auto;
    text-align:center;
    display: none;
}

#snoInfoBox{
    position:absolute;
    z-index:1400;
    top:2%;
    left:4%;
    margin:0px auto;
    text-align:center;
    display: none;
    background-color: #f3f3f3;
    opacity: 0.8 !important;
    text-align: left;
}

#mapCtrl{
    position:absolute;
    z-index:1400;
    bottom:2%;
    right:4%;
    margin:0px auto;
    text-align:center;
}

#timeline{
    position:absolute;
    z-index:1400;
    bottom:2%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align:center;
    background-color: #343a40;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    color: white;
    left: 50%;
    transform: translate(-50%, 0); 
}

#timelineIn{
    width: 100%;
}

#timelineIn .slider-handle{
    background: #ffc107;
}

#timelineIn .in-selection{
    background: #ffc107;
}

#timelineIn .slider-selection {
    background: #ffdb70;
}

#stateChange{
    position:absolute;
    z-index:1400;
    bottom:2%;
    left:4%;
    margin:0px auto;
    text-align:center;
}

.loader {
    border: 4px solid #343a40; /* Light grey */
    border-top: 4px solid #ffc107; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none;
    float: right;
    margin-left: 10;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#pathMenu{
    border-radius: 5px;
    border-color: gray;
    /*background-color: lightgray;*/
}

#colorSample{
    cursor:pointer;
    width: 30px;
    height: 30px;
    margin: 15px;
    border-radius: 5px;
    color: white;
}
.eye{
    margin: auto;
}

.pathLine{
    border-radius: 5px;
    width: 100%;
    display: flex;
    margin-bottom: 2%;
    background-color: #EBEBEB  ;
    cursor: pointer;
}

.pathLine:hover{
    background-color: lightgray;
}

.activeLine{
    background-color: lightgray  ;
}

.viewButton{
    position: absolute;
    right: 15px;
    margin: 15px;
}