

#infCol{
    background-color: #f3f3f3;
    /*position: absolute;*/
    overflow-y: scroll;
}
#mapCol{
    padding-left: 0;
    padding-right: 0;
}

#map{
    background-color: beige;
}

#loaderEl{
    position:absolute;
    z-index:1400;
    top:2%;
    left:2%;
    margin:0px auto;
    text-align:center;
    display: none;

}

#snoAlertBox{
    position:absolute;
    z-index:1400;
    top:2%;
    right:4%;
    margin:0px auto;
    text-align:center;
    display: none;
}

#snoInfoBox{
    position:absolute;
    z-index:1400;
    top:2%;
    left:4%;
    margin:0px auto;
    text-align:center;
    display: none;
    background-color: #f3f3f3;
    opacity: 0.8 !important;
    text-align: left;
}

#mapCtrl{
    position:absolute;
    z-index:1400;
    bottom:2%;
    right:4%;
    margin:0px auto;
    text-align:center;
}



#pathMenu{
    border-radius: 5px;
    border-color: gray;
    /*background-color: lightgray;*/
}

#colorSample{
    cursor:pointer;
    width: 30px;
    height: 30px;
    margin: 15px;
    border-radius: 5px;
    color: white;
}
.eye{
    margin: auto;
}

.pathLine{
    border-radius: 5px;
    width: 100%;
    display: flex;
    margin-bottom: 2%;
    background-color: #EBEBEB  ;
    cursor: pointer;
}

.pathLine:hover{
    background-color: lightgray;
}

.activeLine{
    background-color: lightgray  ;
}

.delLineButtons{
    position: absolute;
    right: 15px;
    margin: 15px;
}

.viewButton{
    margin-left: 4px;
}

#stateChange{
    float: right;
}

#roundDes{
    margin-top: auto;
    margin-bottom: auto;
}

#delCollapse{
    margin-top: 2%;

}

.collapse{
    margin-bottom: 12px;
}

.selectable{
    cursor: pointer;
}